html{
  font-family: sans-serif;
}

body{
  margin: 0;
}

ul {
  list-style-type: none;
}

#main-footer {
  background: #f4511e;
  color: #fff;
}

.ft-social-list {
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

.ft-social-list li i {
  color: #fff;
}